.App {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

.button:hover{
    cursor: pointer;
}

h1{
    font-family: 'Fredoka One', cursive;
    color: white;
}

.accueil {
    color: white;
}

.profil-button{
    background-color: rgb(212, 0, 159);
    color: white;
    font-size: 12px;
    width: 110px;
    height: 30px;
    border-radius: 12px;
    border: none;
}

.profil-button:focus{
    outline: 0;
}