.App {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #2e1fb1;
}

.button:hover{
    cursor: pointer;
}

h1{
    font-family: 'Fredoka One', cursive;
    color: white;
}

.accueil {
    color: white;
}